<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.aalto.gringotts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <permission
        android:name="fi.aalto.gringotts.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="fi.aalto.gringotts.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissions added for mobile data service -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GringottsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventList"
            android:label="@string/title_activity_event_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EventInfo"
            android:label="@string/title_activity_event_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendListActivity"
            android:label="@string/title_activity_friend_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ContactDetailsActivity"
            android:label="@string/title_activity_contact_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChargeActivity"
            android:label="@string/title_activity_charge"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Push Settings Start -->


        <!-- Add GCM Intent Service and intent-filters for RECEIVE and REGISTRATION of notifications -->
        <service android:name="com.ibm.mobile.services.push.IBMPushIntentService" />

        <receiver
            android:name="com.ibm.mobile.services.push.IBMPushBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="fi.aalto.gringotts" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="fi.aalto.gringotts" />
            </intent-filter>
        </receiver>
        <!-- Push Settings End -->

        <activity
            android:name=".GroupChargeActivity"
            android:label="@string/title_activity_group_charge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TicketSaleAcitivity"
            android:label="@string/title_activity_ticket_sale_acitivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendListSelectionActivity"
            android:label="@string/title_activity_friend_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".fragments.LoginFacebookFragment"
            android:label="@string/title_activity_login_facebook"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".LoginFacebookActivity"
            android:label="@string/title_activity_login_facebook"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".LoginNordeaActivity"
            android:label="@string/title_activity_login_nordea"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".OtherBankInfoActivity"
            android:label="@string/title_activity_other_bank_info" >
        </activity>
        <activity
            android:name=".ConfirmPaymentActivity"
            android:label="@string/title_activity_confirm_payment" >
        </activity>
    </application>

</manifest>